<style>{{ css }}</style>

<h1>{{ _self }}</h1>

<div>
    xxx
</div>




<div class="my-dump">
    <pre>{{ dump(options) }}</pre>
</div>

<div class="some-div"><img src="{{ image }}" style="width: 100pt; height:100pt" alt=""></div>


